:root {
    --bg-primary: #B98B58;
    --bg-black: #000;
    --bg-black-alt: rgba(0, 0, 0, 0.8);
    --bg-light: #F7F7F7;
    --bg-gray: #4E4E4E;
    --bg-gray-alt: #EDEDED;
    --bg-lightgray: #7A7A7A;
    --bg-darkgray: #373737;
    --bg-white: #FFF;
    --text-primary: #B98B58;
    --text-black: #000;
    --text-gray: #4E4E4E;
    --text-lightgray: #7A7A7A;
    --text-white: #FFF;
}

/* * */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: var(--bg-black);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: auto;
}

.header__logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--bg-primary);
}

.header__mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.header__mobile-line {
    height: 4px;
    background-color: var(--bg-primary);
}

.header__menu {
    display: flex;
    list-style: none;
}

.header__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 5px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-white); 
}
.header__link:hover {
    border-bottom-color: var(--bg-primary);
}

.header__link--active {
    border-bottom-color: var(--bg-primary);
}

/* BANNER */
.banner {
    overflow-x: hidden;
}

.banner__slideshow {
    display: flex;
    width: 300vw;
    height: calc(100vh - 100px);
}

.banner__slide-area {
    width: 100vw;
    height: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-color: var(--bg-black);
}

.banner__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: var(--bg-black-alt);
}

.banner__slide-title {
    line-height: 64px;
    text-transform: uppercase;
    font-size: 64px;
    font-weight: bold;
    color: var(--text-white);
}
.banner__slide-title > span {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: bold;
    color: var(--text-primary);
}

.banner__slide-subtitle {
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: var(--text-white);
}

.banner__pointer-area {
    position: absolute;
    bottom: 30px;
}

/* ABOUTUS */
.aboutus {
    display: flex;
    justify-content: center;
    background-color: var(--bg-light);
}

.aboutus__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutus__title {
    color: var(--text-black);
}

.aboutus__text-area {
    flex: 1;
    margin-right: 30px;
}

.aboutus__text {
    line-height: 24px;
    margin-bottom: 30px;
    color: var(--text-black);
}

.aboutus__image-area {
    display: flex;
    justify-content: center;
    width: 500px;
}

.aboutus__image {
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* SERVICES */
.services {
    display: flex;
    justify-content: center;
    background-color: var(--bg-black);
}

.services__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.services__title {
    color: var(--text-white);
}

.services__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-right: 1px solid var(--bg-gray);
}
.services__item:first-child {
    border-left: 1px solid var(--bg-gray);
}

.services__item-image {
    width: 58px;
    height: 58px;
}

.services__item-title {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-white);
}

.services__item-subtitle {
    color: var(--text-gray);
}

/* PROJECTS */
.projects {
    display: flex;
    justify-content: center;
    background-color: var(--bg-light);
}

.projects__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects__title {
    color: var(--text-black);
}

/* PROJECTS */
.projects__body {
    flex-direction: column;
    align-items: center;
}

.projects__menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #CFCFCF;
    border-radius: 24px;
    list-style: none;
    background-color: var(--bg-gray-alt);
}
.projects__menu > li {
    border-right: 1px solid #CFCFCF;
}
.projects__menu > li:last-child {
    border-right: none;
}

.projects__link {
    display: inline-flex;
    padding: 15px 20px;
    border-bottom: 5px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-black);
}
.projects__link:hover {
    border-bottom-color: var(--bg-primary);
}

.projects__link--active {
    border-bottom-color: var(--bg-primary);
}

.projects__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.projects__photo-area {
    width: 250px;
    height: 150px;
    margin: 15px;
}
.projects__photo-area:hover .projects__photo-info {
    display: flex;
}

.projects__photo {
    width: inherit;
    height: inherit;
}

.projects__photo-info {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: center;
    background-color: var(--bg-black-alt);
}

.projects__info-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-white);
}

.projects__info-subtitle {
    color: var(--text-white);
}

/* TEAM */
.team__background {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.team {
    display: flex;
    justify-content: center;
    background-color: var(--bg-black-alt);
}

.team__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.team__title {
    color: var(--text-white);
}

.team__body {
    flex-direction: column;
    max-width: 1140px;
    overflow-x: hidden;
}

.team__slideshow {
    display: flex;
    width: calc(1140px * 3);
}

.team__slide-area {
    width: 360px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--bg-white);
}

.team__slide {
    padding: 40px;
    text-align: center;
}

.team__slide-avatar {
    width: 150px;
    height: 150px;
}

.team__slide-title {
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.team__slide-media-area {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.team__slide-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #BEBEBE;
}
.team__slide-media:hover {
    background-color: var(--bg-primary);
}

.team__pointer-area {
    margin-top: 60px;
}

/* CLIENT */
.clients {
    display: flex;
    justify-content: center;
    background-color: var(--bg-light);
}

.clients__title {
    color: var(--text-black);
}

.clients__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.clients__body {
    flex-direction: column;
    max-width: 1140px;
    overflow-x: hidden;
}

.clients__slideshow {
    display: flex;
    width: calc(1140px * 3);
}

.clients__slide-area {
    display: flex;
    justify-content: center;
    width: 1140px;
}

.clients__slide {
    text-align: center;
}

.clients__slide-avatar {
    margin-top: 60px;
    width: 150px;
    height: 150px;
}

.clients__slide-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
}

.clients__slide-subtitle {
    font-weight: 600;
}

.clients__slide-quote {
    margin-top: 30px;
    margin-bottom: 10px;
}

.clients__slide-text {
    margin-left: 160px;
    margin-right: 160px;
    color: var(--text-gray);
}

.clients__pointer-area {
    margin-top: 60px;
}

/* BRANDS */
.brands {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--bg-gray);
    border-bottom: 1px solid var(--bg-gray);
    background-color: var(--bg-white);
}

.brands__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands__brand-area {
    flex: 1;
    display: flex;
    justify-content: center;
}

.brands__brand-image {
    width: 80px;
}

/* PRICE */
.price {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--bg-gray);
    border-bottom: 1px solid var(--bg-gray);
    background-color: var(--bg-gray-alt);
}

.price__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.price__card {
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: var(--bg-white);
}

.price__card-title {
    text-transform: uppercase;
    font-weight: 600;
}

.price__card-value {
    margin-top: 10px;
    line-height: 28px;
    font-size: 28px;
    font-weight: bold;
}
.price__card-value > span {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    color: var(--text-gray);
}

.price__card-benefit-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.price__card-benefit:not(:last-child)::after {
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    margin: 10px auto;
    background-color: var(--bg-black);
}

.price__card-button {
    background-color: #373737 !important;
    color: var(--text-white);
}
.price__card-button:hover {
    background-color: var(--bg-primary) !important;
}

/* PREMIUM */
.premium {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--bg-gray);
    background-color: var(--bg-white);
}

.premium__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.premium__title {
    color: var(--text-black);
}

.premium__body {
    flex-direction: column;
    max-width: 1140px;
    overflow-x: hidden;
}

.premium__slideshow {
    display: flex;
    width: calc(1140px * 3);
}

.premium__slide-area {
    width: 1140px;
    border-bottom: 1px solid var(--bg-gray);
}

.premium__slide {
    display: flex;
}

.premium__image-area {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-bottom: 30px;
}

.premium__image {
    max-width: 100%;
}

.premium__text-area {
    flex: 1;
}

.premium__feature-area {
    display: flex;
    align-items: start;
    margin-bottom: 30px;
}

.premium__feature-icon {
    margin-right: 30px;
}

.premium__feature-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.premium__feature-subtitle {
    line-height: 24px;
    color: var(--text-gray);
}
.premium__feature-subtitle > span {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.premium__pointer-area {
    margin-top: 60px;
    margin-bottom: 30px;
}

.premium__button {
    align-self: center;
}

/* SOMEFACTS */
.somefacts {
    display: flex;
    justify-content: center;
    background-color: var(--bg-black);
}

.somefacts__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.somefacts__title {
    color: var(--text-white);
}

.somefacts__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.somefacts__item-counter {
    font-size: 42px;
    font-weight: bold;
    color: var(--text-primary);
}
.somefacts__item-counter::after {
    content: '';
    display: block;
    width: 25px;
    height: 4px;
    margin: 10px auto;
    background-color: var(--bg-gray);
}

.somefacts__item-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-white);
}

.somefacts__item-subtitle {
    margin-top: auto;
    color: var(--text-gray);
}

/* SHARE */
.share {
    display: flex;
    justify-content: center;
    background-color: var(--bg-white);
}

.share__body {
    justify-content: center;
}

.share__item-share {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 45px;
}

.share__item-area {
    display: flex;
}

.share__item {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.share__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.share__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.share__link-twitter {
    background-color: #34C5F0;
}

.share__link-linkedin {
    background-color: #127CB4;
}

.share__link-facebook {
    background-color: #346498;
}

.share__link-googleplus {
    background-color: #E84138;
}

.share__link-pinterest {
    background-color: #B71C27;
}

.share__item-text-area {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-gray);
}

/* CONTACTUS */
.contactus {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--bg-gray);
    background-color: var(--bg-light);
}

.contactus__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contactus__title {
    color: var(--text-black);
}

.contactus__body {
    justify-content: center;
}

.contactus__form-area {
    width: 800px;
    margin-top: 60px;
}

.contactus__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 30px;
}

.contactus__input-grid {
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid var(--bg-gray);
    outline: 0;
    background-color: transparent;
}
.contactus__input-grid[name="subject"] {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}
.contactus__input-grid::placeholder {
    text-transform: uppercase;
}

.contactus__textarea-grid {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid var(--bg-gray);
    outline: 0;
    resize: none;
    background-color: transparent;
}
.contactus__textarea-grid::placeholder {
    text-transform: uppercase;
}

.contactus__button {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    justify-self: center;
    border: none;
    cursor: pointer;
}

/* ADDRESS */
.address {
    display: flex;
    justify-content: center;
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position: center;
}

.address__address-area {
    width: 50%;
    background-color: var(--bg-white);
}

.address__info {
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
}

.address__info-item {
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.address__info-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    background-color: #AEAEAE;
}

.address__info-icon-image {
    width: 15px;
}

.address__info-text-area {
    margin-left: 30px;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    background-color: var(--bg-black);
}

.footer__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__body {
    display: flex;
    flex-direction: column;
}

.footer__item-area {
    display: flex;
}

.footer__item {
    flex: 1;
    color: var(--text-lightgray);
}

.footer__item-media-area {
    display: flex;
}

.footer__item-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: var(--bg-darkgray);
}
.footer__item-media:hover {
    background-color: var(--bg-primary);
}

.footer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 2px;
    background-color: var(--bg-darkgray);
}

.footer__input {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid var(--bg-lightgray);
    outline: 0;
    background-color: transparent;
    color: var(--text-lightgray);
}
.footer__input::placeholder {
    text-align: center;
    text-transform: uppercase;
}

.footer__button {
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.footer__copyright {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-white);
}

/*
    CONTAINER | CONTAINER-TITLE | CONTAINER-SUBTITLE
    BUTTON
    POINTER-AREA | POINTER | POINTER--ACTIVE
*/
.container {
    width: 100%;
    max-width: 1140px;
}

.container-title {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}

.container-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #ADADAD;
}

.container-body {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    border-radius: 22px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--bg-primary);
    color: var(--text-white);
}

.pointer-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

.pointer {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid var(--bg-primary);
    border-radius: 50%;
    cursor: pointer;
}

.pointer--active {
    background-color: var(--bg-primary);
}

@media (max-width: 1049px) {
    
    /* HEADER */
    .header__logo-area {
        margin-left: 30px;
    }
    
    .header__menu {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100px;
        z-index: 1;
        width: 70vw;
        height: calc(100vh - 100px);
        background-color: var(--bg-black-alt);
    }

    .header__link {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 60px;
        padding-right: 0;
        border-bottom: none;
        font-size: 18px;
    }
    .header__link:hover {
        border-bottom-color: transparent;
        color: var(--text-primary);
    }

    .header__link--active {
        border-bottom-color: transparent;
        color: var(--text-primary);
    }

    .header__mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* PROJECTS */
    .projects__gallery {
        justify-content: center;
    }

    /* TEAM */
    .team__body {
        max-width: 100vw;
    }

    .team__slide-area {
        width: calc(50vw - 50px);
    }

    /* CLIENTS */
    .clients__slide-area {
        width: calc(100vw - 60px);
    }

    /* CONTAINER-BODY */
    .container-body {
        margin-left: 30px;
        margin-right: 30px;
    }

}

@media (max-width: 793px) {

    /* HEADER */
    .header__logo-area {
        margin-left: 30px;
    }
    
    .header__menu {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100px;
        z-index: 1;
        width: 70vw;
        height: calc(100vh - 100px);
        background-color: var(--bg-black-alt);
    }

    .header__link {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 60px;
        padding-right: 0;
        border-bottom: none;
        font-size: 18px;
    }
    .header__link:hover {
        border-bottom-color: transparent;
        color: var(--text-primary);
    }

    .header__link--active {
        border-bottom-color: transparent;
        color: var(--text-primary);
    }

    .header__mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* ABOUTUS */
    .aboutus__body {
        flex-direction: column;
    }

    .aboutus__image-area {
        width: auto;
        margin-top: 30px;
    }

    .aboutus__text-area {
        text-align: center;
    }

    .aboutus__text {
        text-align: left;
    }

    /* SERVICES */
    .services__body {
        flex-direction: column;
    }

    .services__item {
        margin-top: 30px;
        border-right: none;
    }
    .services__item:first-child {
        border-left: none;
    }

    /* PRICE */
    .price__body {
        flex-direction: column;
    }

    .price__card {
        margin: 15px 0;
        border-radius: 2px;
    }

    /* PREMIUM */
    .premium__body {
        max-width: calc(100vw - 60px);
    }

    .premium__slide-area {
        width: calc(100vw - 60px);
    }

    .premium__slide {
        flex-direction: column;
    }

    .premium__image-area {
        max-width: 100%;
    }

    .premium__image {
        width: 300px;
    }

    /* CONTAINER-BODY */
    .container-body {
        margin-left: 30px;
        margin-right: 30px;
    }

}

/* MEDIA QUERIES */
@media (max-width: 450px) {

    /* HEADER */
    .header__logo-area {
        margin-left: 30px;
    }
    
    .header__menu {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100px;
        z-index: 1;
        width: 70vw;
        height: calc(100vh - 100px);
        background-color: var(--bg-black-alt);
    }

    .header__link {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 60px;
        padding-right: 0;
        border-bottom: none;
        font-size: 18px;
    }
    .header__link:hover {
        border-bottom-color: transparent;
        color: var(--text-primary);
    }

    .header__link--active {
        border-bottom-color: transparent;
        color: var(--text-primary);
    }

    .header__mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* BANNER */
    .banner__slide-title {
        font-size: 36px;
        line-height: 36px;
    }
    .banner__slide-title > span {
        font-size: 36px;
    }

    .banner__slide-subtitle {
        font-size: 18px;
    }

    /* ABOUTUS */
    .aboutus__body {
        flex-direction: column;
    }

    .aboutus__image-area {
        width: auto;
        margin-top: 30px;
    }

    .aboutus__text-area {
        text-align: center;
    }

    .aboutus__text {
        text-align: left;
    }

    /* SERVICES */
    .services__body {
        flex-direction: column;
    }

    .services__item {
        margin-top: 30px;
        border-right: none;
    }
    .services__item:first-child {
        border-left: none;
    }

    /* PROJECTS */
    .projects__menu {
        padding-left: 0;
        padding-right: 0;
    }

    .projects__gallery {
        justify-content: center;
    }

    .projects__photo-area {
        width: 300px;
        height: 190px;
        margin: 15px 0;
    }

    /* TEAM */
    .team__body {
        max-width: calc(100vw - 60px);
    }

    .team__slideshow {
        margin-left: calc(-100vw + 60px); /* Os 60px equivalem ao cálculo necessário para que os slides sejam exibidos corretamente, pois eles não possuem a largura máxima da tela, então o próximo elemento de slide estará escondido devido ao "overflow-x" no team__body. Então para o exibir o próximo slide, sempre será necessário fazer um cálculo de: -100vw da largura total * posição do slide a ser exibido  + 60px * posição do slide a ser exibido. */
    }

    .team__slide-area {
        width: calc(100vw - 80px);
    }

    /* CLIENTS */
    .clients__body {
        max-width: calc(100vw - 60px);
    }

    .clients__slide-area {
        width: calc(100vw - 60px);
    }

    .clients__slide-text {
        margin-left: 0;
        margin-right: 0;
    }

    /* BRANDS */
    .brands__body {
        flex-direction: column;
    }

    .brands__brand-area {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* PRICE */
    .price__body {
        flex-direction: column;
    }

    .price__card {
        margin: 15px 0;
        border-radius: 2px;
    }

    /* PREMIUM */
    .premium__body {
        max-width: calc(100vw - 60px);
    }

    .premium__slide-area {
        width: calc(100vw - 60px);
    }

    .premium__slide {
        flex-direction: column;
    }

    .premium__image-area {
        max-width: 100%;
    }

    .premium__image {
        width: 300px;
    }

    /* SOMEFACTS */
    .somefacts__body {
        flex-direction: column;
    }

    .somefacts__item:not(:first-child) {
        margin-top: 30px;
    }

    /* SHARE */
    .share__body {
        flex-direction: column;
        align-items: center;
    }

    .share__item-share {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .share__item-share .share__item-icon {
        display: none;
    }

    .share__item-area {
        display: flex;
    }

    .share__item {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .share__item-text-area {
        margin-left: 0;
        margin-top: 10px;
    }

    /* CONTACTUS */
    .contactus__form {
        grid-template-columns: 1fr;
    }

    .contactus__input-grid[name="email"] {
        grid-column: 1;
    }
    .contactus__input-grid[name="subject"] {
        grid-row: initial;
        grid-column: 1;
    }

    .contactus__textarea-grid {
        grid-row: initial;
        grid-column: 1;
    }

    .contactus__button {
        grid-row: initial;
        grid-column: 1 / span 1;
    }

    /* ADDRESS */
    .address__address-area {
        width: 100%;
    }

    .address__body {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 200px;
    }

    .address__info {
        padding: 25px 20px;
    }

    /* FOOTER */
    .footer__item-area {
        flex-direction: column;
    }

    .footer__item {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer__item:first-child {
        display: flex;
        justify-content: center;
    }
    .footer__item:last-child {
        order: -1;
    }

    .footer__copyright {
        text-align: center;
    }

    /* CONTAINER-BODY */
    .container-body {
        margin-left: 30px;
        margin-right: 30px;
    }

}